
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: #000;
}

::-webkit-scrollbar-track-piece:start {
    background: transparent;
}

::-webkit-scrollbar-track-piece:end {
    background: transparent;
}

/*////////////////////////////////////*/

#hok___ {
    position: fixed;
    z-index: 99999999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: orangered;
}

/*button,
input[type="text"],
input[type="submit"],
input[type="button"],
textarea,
ins {
    display: none !important;
}*/
