@charset "UTF-8";
/* CSS Document */

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: lightgray;
}

::-webkit-scrollbar-track-piece:start {
    background: transparent;
}

::-webkit-scrollbar-track-piece:end {
    background: transparent;
}

/*////////////////////////////////////*/
/*--layout--*/
/*////////////////////////////////////*/

* {
    margin: 0;
    padding: 0;
    font-family: "Lucida Grande", Arial, sans-serif;
}

body {
    padding: 0px;
    margin: 0px;
}

#ui-app,
#ui-side,
#ui-top,
#ui-list,
#ui-info,
#ui-property,
#ui-status {
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 100%;
    background-color: white;
}

#ui-side {
    background: -webkit-linear-gradient(top, #e9ecf1 0%, #d0d7dd 100%);
    background: -moz-linear-gradient(top, #e9ecf1 0%, #d0d7dd 100%);
    background: -o-linear-gradient(top, #e9ecf1 0%, #d0d7dd 100%);
    background: -ms-linear-gradient(top, #e9ecf1 0%, #d0d7dd 100%);
    background: linear-gradient(top, #e9ecf1 0%, #d0d7dd 100%);
    /*border-right: 1px solid rgb(165,165,165);*/
    height: 100%;
}

#ui-tree {
    height: 100%;
}

#ui-top {
    height: 78px;
    overflow: hidden;
    background: -webkit-linear-gradient(top, rgba(230,230,230,1) 0%, rgba(176,176,176,1) 100%);
    background: -moz-linear-gradient(top, rgba(230,230,230,1) 0%, rgba(176,176,176,1) 100%);
    background: -o-linear-gradient(top, rgba(230,230,230,1) 0%, rgba(176,176,176,1) 100%);
    background: -ms-linear-gradient(top, rgba(230,230,230,1) 0%, rgba(176,176,176,1) 100%);
    background: linear-gradient(top, rgba(230,230,230,1) 0%, rgba(176,176,176,1) 100%);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.5), inset 0 -1px 0 rgba(255,255,255,.1);
    border-bottom: 1px solid #676567;
}

#ui-status {
    height: 24px;
    border-top: 1px solid #676567;
    background: -webkit-linear-gradient(top, #e1e1e1 0%, #b0b0b0 100%);
    background: -moz-linear-gradient(top, #e1e1e1 0%, #b0b0b0 100%);
    background: -o-linear-gradient(top, #e1e1e1 0%, #b0b0b0 100%);
    background: -ms-linear-gradient(top, #e1e1e1 0%, #b0b0b0 100%);
    background: linear-gradient(top, #e1e1e1 0%, #b0b0b0 100%);
}

#ui-list {
    height: 100%;
}

#ui-info {
    border-top: 1px solid rgb(165,165,165);
}

#ui-property {
    border-left: 1px solid rgb(165,165,165);
}

#title {
    height: 22px;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    color: rgba(48,25,43,1);
    text-shadow: 0 1px 0 rgba(255,255,255,.7);
}
/*////////////////////////////////////*/
/***** playback controls *****/
/*////////////////////////////////////*/

.playbackCtrl {
    position: absolute;
    top: 20px;
    left: 10px;
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -o-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: scale(.5,.5);
    -moz-transform: scale(.5,.5);
    -o-transform: scale(.5,.5);
    -ms-transform: scale(.5,.5);
    transform: scale(.5,.5);
}

.playback {
    position: relative;
    display: block;
    float: left;
    margin: 5px 0 5px 16px;
    width: 62px;
    height: 62px;
    background: rgba(233,233,233,1);
    border: 2px solid rgba(150,150,150,1);
    border-radius: 40px;
    box-shadow: 0 1px 1px rgba(255,255,255,.4), inset 2px -2px 9px 0 rgba(255,255,255,.2), inset -3px -11px 30px 4px rgba(0,0,0,.3);
    cursor: default;
}

    .playback.unavailable {
        box-shadow: 0 1px 1px rgba(255,255,255,.4), inset 2px -2px 9px 0 rgba(255,255,255,.2), inset -3px -11px 20px 4px rgba(0,0,0,.2);
    }

    .playback:active {
        border: 2px solid rgba(100,100,100,1);
        box-shadow: inset 0 0 10px 4px rgba(0,0,0,.3), 0 1px 1px rgba(255,255,255,.4), inset 2px -2px 9px 0 rgba(255,255,255,.2), inset -3px -11px 30px 4px rgba(0,0,0,.2);
    }

    .playback.unavailable:active {
        border: 2px solid rgba(150,150,150,1);
        box-shadow: 0 1px 1px rgba(255,255,255,.4), inset 2px -2px 9px 0 rgba(255,255,255,.2), inset -3px -11px 20px 4px rgba(0,0,0,.2);
    }

    .playback.play {
        margin: 0 0 0 16px;
        width: 72px;
        height: 72px;
        border-radius: 40px;
    }

    .playback i {
        display: block;
        position: absolute;
        width: 100%;
        font-size: 36px;
        color: rgba(104,104,104,1);
        -webkit-transform: scale(1,.8);
    }

    .playback.unavailable i {
        color: #b0b0b0;
    }

    .playback.backward i {
        top: 9px;
        left: 9px;
    }

    .playback.forward i {
        top: 8px;
        left: 16px;
    }

    .playback.play i.icon-play {
        top: 8px;
        left: 20px;
        font-size: 48px;
    }

    .playback.play i.icon-pause {
        top: 10px;
        left: 18px;
        font-size: 48px;
    }
/***** volumn *****/
.volume {
    position: absolute;
    left: 170px;
    top: 32px;
    width: 200px;
    height: 24px;
    border-radius: 12px;
    background: -webkit-linear-gradient(#979797 0%, #b7b7b7 100%);
    background: -moz-linear-gradient(#979797 0%, #b7b7b7 100%);
    background: -o-linear-gradient(#979797 0%, #b7b7b7 100%);
    background: -ms-linear-gradient(#979797 0%, #b7b7b7 100%);
    background: linear-gradient(#979797 0%, #b7b7b7 100%);
    box-shadow: inset 0 1px 4px 1px rgba(0,0,0,.35), inset 0 0 1px 1px rgba(0,0,0,.05), 0 2px 2px 0 rgba(255,255,255,.35);
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -o-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: scale(.5,.5);
    -moz-transform: scale(.5,.5);
    -o-transform: scale(.5,.5);
    -ms-transform: scale(.5,.5);
    transform: scale(.5,.5);
}

    .volume .vol {
        position: absolute;
        width: 54%;
        height: 100%;
        border-radius: 12px 0 0 12px;
        background: -webkit-linear-gradient(rgba(110,110,110,1) 0%, rgba(150,150,150,1) 100%);
        background: -moz-linear-gradient(rgba(110,110,110,1) 0%, rgba(150,150,150,1) 100%);
        background: -o-linear-gradient(rgba(110,110,110,1) 0%, rgba(150,150,150,1) 100%);
        background: -ms-linear-gradient(rgba(110,110,110,1) 0%, rgba(150,150,150,1) 100%);
        background: linear-gradient(rgba(110,110,110,1) 0%, rgba(150,150,150,1) 100%);
        box-shadow: inset 0 1px 3px 1px rgba(0,0,0,.35), inset 0 0 1px 1px rgba(0,0,0,.05), 0 2px 2px 0 rgba(255,255,255,.35);
    }

    .volume i {
        display: block;
        position: absolute;
        width: 24px;
        height: 24px;
        top: 2px;
        line-height: 24px;
        font-size: 24px;
        color: rgba(96,96,96,1);
        text-shadow: 0 2px 1px rgba(255,255,255,.6);
    }

        .volume i:first-of-type {
            left: -24px;
        }

        .volume i:last-of-type {
            right: -34px;
        }

/***** search box *****/
.searchBox {
    position: absolute;
    top: 31px;
    right: 15px;
    -webkit-transform-origin: right top;
    -moz-transform-origin: right top;
    -o-transform-origin: right top;
    -ms-transform-origin: right top;
    transform-origin: right top;
    -webkit-transform: scale(.5,.5);
    -moz-transform: scale(.5,.5);
    -o-transform: scale(.5,.5);
    -ms-transform: scale(.5,.5);
    transform: scale(.5,.5);
}

    .searchBox i {
        display: block;
        position: absolute;
        font-size: 24px;
        top: 5px;
        left: 10px;
        color: rgba(76,76,76,1);
    }

    .searchBox input[type='text'] {
        display: block;
        width: 270px;
        height: 40px;
        border-radius: 40px;
        border: 2px solid rgba(150,150,150,1);
        box-shadow: 0 2px 1px 0 rgba(255,255,255,.3), inset 0 2px 4px 0 rgba(0,0,0,.3);
        padding-left: 40px;
        font-size: 20px;
    }

        .searchBox input[type='text']:focus {
            outline: none;
            border: 2px solid rgba(116,159,201,1) !important;
            box-shadow: 0 0 3px 2px rgba(116,159,201, .7), inset 0 0 4px 1px rgba(116,159,201, .5);
        }
/***** bottom *****/
#status {
    clear: both;
    position: relative;
    height: 24px;
}

    #status .ctrlIcons {
        position: absolute;
    }

        #status .ctrlIcons:first-child {
            left: 10px;
        }

        #status .ctrlIcons:last-child {
            right: 10px;
        }

        #status .ctrlIcons i {
            display: block;
            float: left;
            margin: 3px 10px 2px 10px;
            color: #49474d;
            text-shadow: 0 1px 0 rgba(255,255,255,.7);
            font-size: 16px;
        }

    #status .listInfo {
        position: absolute;
        width: 100%;
        text-align: center;
        font-size: 12px;
        line-height: 24px;
        text-shadow: 0 1px 0 rgba(255,255,255,.5);
    }
/*////////////////////////////////////*/
/*--length--*/
/*////////////////////////////////////*/
#ui-timeline-val {
    position: absolute;
    bottom: 3px;
    left: 0;
    z-index: 1;
    height: 3px;
    background-color: orange;
    /* opacity: 0.5; */
}

#ui-timeline-line {
    position: absolute;
    bottom: 3px;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 0;
    height: 3px;
    background-color: gray;
    opacity: 0.5;
}

#ui-timeline {
    -webkit-appearance: none;
    width: 100%;
    height: 9px;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    background-color: transparent;
}

    #ui-timeline:hover {
        opacity: 1;
    }

    #ui-timeline::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 9px;
        height: 9px;
        border-radius: 50%;
        cursor: pointer;
        background: #fff;
        box-shadow: inset 0 0 1px 2px rgba(255,255,255,1), 0 0 0 2px rgba(0,0,0,.4), 0 4px 4px 0 rgba(0,0,0,.4);
        -webkit-transform: rotate(30deg);
    }

/*////////////////////////////////////*/
/*--length--*/
/*////////////////////////////////////*/

#ui-volume {
    -webkit-appearance: none;
    width: 100%;
    height: 24px;
    background-color: transparent;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

    #ui-volume:hover {
        opacity: 1;
    }

    #ui-volume::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        /*background-color: #fff;
        border: 1px solid #333;*/
        cursor: pointer;
        background: #fff;
        box-shadow: inset 0 0 1px 2px rgba(255,255,255,1), 0 0 0 2px rgba(0,0,0,.4), 0 4px 4px 0 rgba(0,0,0,.4);
        -webkit-transform: rotate(30deg);
    }
